<div class="container">
  <%= link_to "新規", new_vr_path %>
  <table class="table">
    <tr><th>タイトル</th><th></th></tr>
    <% @vrs.each do |vr| %>
      <tr class="row">
        <td class="col-8"><%= link_to vr.title, vr_path(vr) %> </td>
        <td class="col-4">
          <%= link_to "削除", vr_path(vr), method: "delete" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>