<div class="box18" style="max-width: 700px; margin: 20px auto">
  <div class="">
    <%= message.name %>がレベルアップしました!
  </div>
  <hr>
  <div class="card-body">
    <p>経験値<%= message.exp %>を取得しました</p>
    <p class="">次のレベルまであと <%= 100 - message.next_exp %></p>
    <div class="progress m-2">
      <div class="progress-bar" role="progressbar"  style="width: <%= message.next_exp %>%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</div>