<div class="box18" style="max-width: 700px; margin: 20px  auto">
  <div class="">
    <%= message.name %> LV. <%= message.level %>を獲得しました
  </div>
  <hr>
  <div class="card-body">
    <img src="/img/sep.png" width="100%" class="m-2">
    <p><%= message.explanation %></p>
  </div>
</div>