<div class="container">
  <% @messages.each do |message| %>
    <%= render message.type, message: message %>
  <% end %>
  <%= link_to "戻る", charactor_path(@charactor), class: "btn btn-secondary" %>
</div>