.container.py-4
  .row.justify-content-center
    .col-lg-5.col-md-7
      .d-flex.align-items-center.gap-3.mb-4
        = link_to store_item_categories_path, class: 'btn btn-outline-secondary btn-sm' do
          %i.fas.fa-arrow-left
          一覧へ戻る
        %h1.mb-0 商品カテゴリを編集

      .card.shadow-sm
        .card-body
          = render 'form', item_category: @item_category
