.fixed-background {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
 
.background-1 {
  background: rgb(146, 146, 146);
}

 
.background-2 {
  background-image: url(/img/guild.jpeg);
}

.inner{
  background-color: rgba(170, 170, 170,0.6);
  min-height: 100vh;
  padding: 10px;
  color: white;
}